body{
  padding: 0;
  margin: 0;
}
h1{

}
h2{

}
input{

}
/*a:visited {
  background-color: black;
}*/
td{
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
  text-align: center;
  padding: 8px;
}
tr{
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
  background-color: white;
  padding: 8px;
}

table {
  border-collapse: collapse;
}

td.big{
  font-weight: 800;
}

.outholder{
  padding-top: 20px;
  width: 300px;
  display: inline-block;
}

.output{
  color: lightgrey;
  background-color: grey;
  padding: 10px;
  margin: 10px;
  width: 100%;
  display: inline-block;
  border: 2px solid black;
  box-shadow: 0 0 5px #000000;
}

.datenchange:hover{
  background-color: blue;
}

#selectfield {
  display: none;
}

#selectfield:checked + label > td {
  background-color: black;
}